--find-links https://data.pyg.org/whl/torch-2.1.0+cpu.html
torch==2.1.2
torch_geometric
pyro-ppl
scipy
cilog  
cython
typed-argument-parser==1.7.2  
captum==0.2.0  
networkx
munch  
gdown  
shap  
IPython  
tqdm  
rdkit-pypi
matplotlib
pandas  
sympy  
pyscf>=1.7.6  
hydra-core 
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
tensorboard
seaborn